<div class="container">
<div class="criteriaContent">
<div class="importantFactorBox col-xs-12"> 

			<strong><h1 class="text-center">What are some possible answers?</h1></strong><br />

			<div class="addCri text-center">

				<%= form_for [@decision, @answer] do |a| %>
					<div class="col-xs-1"></div>
					<div class="col-xs-3">
					<%= a.text_field :text, placeholder: "What's a possible answer for this decision?", :class => "criInputer text-center" %>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
						</div>
				
					<div class="col-xs-3">
						&nbsp;  
					</div>
					<div class="col-xs-4">
						  <%= a.submit :class => "btn btn-default btn-md btn-greeny" %>
					</div>

					<br /><br />
					
				<% end %>



			</div>

			<ul class="criList">
			<% @answers.each do |l| %>
				<li>
					<div class="criItem">
						<div class="col-sm-6 pull-left">
								<b><%= l.text %></b> <br /><span class="decision"> for the decision <b><%= l.decision.text %></b></span>
						</div>
						<div class="col-sm-2">&nbsp;</div>
						<div class="col-sm-1 rating text-center">
							<%= button_to "rate your answer", decision_answers_path(@decision.id, l.id), method: :get, :class => "btn btn-default btn-md btn-greenest deleteCri" %>
						</div>

						<div class="col-sm-2">&nbsp;</div>
						<div class="col-sm-1">
							<%= button_to " X ", decision_answer_path(@decision.id, l.id), method: :delete, :class => "btn btn-default btn-md btn-reder deleteCri" %>
						</div>
				
					</div>
						<br /><br /><br /><br />
				</li>
			<% end %>
			</ul>
		</div>





</div>

	<div class="text-center ratebtn">

			<button onclick="window.location.href='/decisions'" class="btn btn-default btn-md btn-redy">See Previous Decisions</button>

			<%= link_to "Rate your answers!", decision_answers_path(@decision.id), :class => "btn btn-default btn-md btn-bluey" %>

	</div>

	<br /><br /><br /><br />

</div>